<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

<div th:fragment="globalErrors(errors)" th:unless="${errors.isEmpty()}" class="ui negative message"
     id="globalValidationErrors" th:with="hasManyErrors=${errors.size() > 1}">
    <div class="header">
        There were some errors with your submission
    </div>

    <ul class="list" th:if="${hasManyErrors}">
        <li th:each="err : ${errors}" th:text="${err}"></li>
    </ul>

    <th:block th:unless="${hasManyErrors}" th:text="${errors.get(0)}">
    </th:block>
</div>

<div th:fragment="reservationFlowSteps(reservationFlow)" class="ui fluid ordered mini steps margin-bottom-40">
    <div class="step" th:each="stepDescription,stat : ${reservationFlow.stepDescriptions}"
         th:with="step=${T(com.demo.reservation.flow.forms.ReservationFlow.Step).from(stat.index)},
         isActive=${reservationFlow.isActive(step)},isCompleted=${reservationFlow.isCompleted(stat.index)}"
         th:classappend="${isActive} ? 'active' : (${isCompleted} ? 'completed')">
        <div class="content">
            <div class="title" th:text="${stepDescription.title}"></div>
        </div>
    </div>
</div>


<div th:fragment="roomCosts" id="roomCostWrapper"
     th:with="hasErrors=${reservationFlow.reservation.dates.totalNights() < 0}">

    <div class="ui negative message" th:if="${hasErrors}">
        Unable to calculate room costs, please ensure all fields are valid
    </div>

    <div class="ui basic segment" th:unless="${hasErrors}">
        <div class="ui two column grid meta-table">
            <div class="row">
                <div class="four wide column">
                    <p class="meta-table__header"># Nights</p>
                </div>
                <div class="twelve wide column">
                    <p th:text="${reservationFlow.reservation.dates.totalNights()}"></p>
                </div>
            </div>
            <div class="row" th:if="${reservationFlow.reservation.dates.lateCheckout}">
                <div class="four wide column">
                    <p class="meta-table__header">Late checkout fee</p>
                </div>
                <div class="twelve wide column">
                    <p th:text="${#numbers.formatCurrency(reservationFlow.reservation.room.hotel.lateCheckoutFee)}"></p>
                </div>
            </div>
            <div class="row">
                <div class="four wide column">
                    <p class="meta-table__header">Total cost (Excl GST)</p>
                </div>
                <div class="twelve wide column">
                    <p th:text="${#numbers.formatCurrency(reservationFlow.reservation.getTotalRoomCostWithLateCheckoutFee())}"></p>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:fragment="quickSummary" id="quickSummary" th:with="timeFormatShort=#{time.format.short},dateFormatLong=#{date.format.long}">
    <div class="ui top attached segment">
        <div class="ui blue top attached label">Summary</div>

        <div class="margin-top-10">
            <a th:href="@{/hotel(id=${reservationFlow.reservation.room.hotel.id})}"
               th:text="${reservationFlow.reservation.room.hotel.name}"></a>
        </div>

        <div class="margin-top-10" id="quickSummaryDates" th:if="${reservationFlow.reservation.dates.checkInDate != null}">
            <p class="bold">Check in:</p>
            <p th:text="${#temporals.format(reservationFlow.reservation.dates.checkInDate, dateFormatLong)}"></p>
            <p th:text="|At around ${#temporals.format(reservationFlow.reservation.dates.estimatedCheckInTime, timeFormatShort)}|"></p>
            <p class="bold">Check out:</p>
            <p th:text="${#temporals.format(reservationFlow.reservation.dates.checkOutDate, dateFormatLong)}"></p>
        </div>

        <div class="ui divider"></div>

        <table class="reservation-summary-table">
            <tbody>
            <tr>
                <td class="bold">Room Type</td>
                <td th:text="${reservationFlow.reservation.room.roomType}"></td>
            </tr>
            <tr>
                <td class="bold">Room Number</td>
                <td th:text="${reservationFlow.reservation.room.roomNumber}"></td>
            </tr>
            <tr>
                <td class="bold">Cost per night</td>
                <td th:text="${#numbers.formatCurrency(reservationFlow.reservation.room.costPerNight)}"></td>
            </tr>
            <tr>
                <td class="bold"># Beds</td>
                <td th:text="${reservationFlow.reservation.room.beds}"></td>
            </tr>
            <tr>
                <td class="bold"># Nights</td>
                <td th:text="${reservationFlow.reservation.dates.totalNights()}"></td>
            </tr>
            <tr>
                <td class="bold"># Guests</td>
                <td th:text="${reservationFlow.reservation.guests.size()}"></td>
            </tr>
            </tbody>
        </table>

        <div class="ui divider"></div>

        <table class="reservation-summary-table">
            <tbody>
            <tr>
                <td class="bold">Room</td>
                <td th:text="${#numbers.formatCurrency(reservationFlow.reservation.getTotalRoomCost())}"></td>
            </tr>
            <tr th:if="${reservationFlow.reservation.dates.lateCheckout}">
                <td class="bold">Late Checkout</td>
                <td th:with="fee=${reservationFlow.reservation.getChargeableLateCheckoutFee()}"
                    th:text="${fee.compareTo(T(java.math.BigDecimal).ZERO) == 0} ? 'Free' : ${#numbers.formatCurrency(fee)}">
                </td>
            </tr>
            <tr th:unless="${reservationFlow.reservation.generalExtras.isEmpty()}">
                <td class="bold">Extras</td>
                <td th:text="${#numbers.formatCurrency(reservationFlow.reservation.getTotalGeneralExtrasCost())}"></td>
            </tr>
            <tr th:unless="${reservationFlow.reservation.hasEmptyMealPlans()}">
                <td class="bold">Meals</td>
                <td th:text="${#numbers.formatCurrency(reservationFlow.reservation.getTotalMealPlansCost())}"></td>
            </tr>
            <tr>
                <td class="bold">Ex GST</td>
                <td th:text="${#numbers.formatCurrency(reservationFlow.reservation.getTotalCostExcludingTax())}"></td>
            </tr>
            <tr class="underline-table-row">
                <td class="bold">GST</td>
                <td th:text="${#numbers.formatCurrency(reservationFlow.reservation.getTaxableAmount())}"></td>
            </tr>
            <tr>
                <td class="bold">Total</td>
                <td>
                    <h3 th:text="${#numbers.formatCurrency(reservationFlow.reservation.getTotalCostIncludingTax())}"></h3>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>