<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{core-layout}">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Select guests</title>
</head>
<body>
<div layout:fragment="content" th:with="dateFormatLong=#{date.format.long},timeFormatShort=#{time.format.short}">
    <div th:replace="~{reservation/fragments :: reservationFlowSteps(${reservationFlow})}"></div>

    <form id="form" th:action="@{/reservation/dates}" method="post">
        <div class="ui form">

            <div class="field">
                <button class="ui button" type="submit">Next</button>
            </div>
        </div>


    </form>
</div>
<th:block layout:fragment="script">
    <script>

        $(document).ready(function () {
            registerOnSubmitHandler("form");
        });

    </script>
</th:block>

</body>
</html>