<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{core-layout}"
      xmlns:qs="http://www.w3.org/1999/xhtml">
<body>
<div layout:fragment="content">

    <div class="ui breadcrumb">
        <a class="section" th:href="@{/}">Search</a>
        <i class="right angle icon divider"></i>
        <div class="active section">Hotels</div>
    </div>

    <div class="ui info message" th:if="${hotels.getTotalElements() == 0}">
        0 hotels found - <a th:href="@{/}">Search again</a>
    </div>

    <div th:unless="${hotels.getTotalElements() == 0}">
        <h3 class="ui dividing header margin-top-20" th:text="|Results (${hotels.getTotalElements()})|"></h3>
        <table class="ui sortable celled table"
               th:with="qstring=${#request.getQueryString()},
                 urlBuilder=${#qs.urlBuilder(#request.getRequestURI())},
                 fieldSorterAsc=${#qs.fieldSorterAsc(qstring)},
                 fieldSorterDesc=${#qs.fieldSorterDesc(qstring)},
                 cssWhenFieldIsAsc=${#qs.valueWhenMatchesSortAsc(qstring, '', 'sorted ascending', 'sorted descending')}">
            <thead>

            <tr>
                <th th:with="newUrl=${urlBuilder.apply(fieldSorterAsc.apply('name'))}"
                <!--                    th:onclick="'javascript:onSortChange(\'' + ${newUrl} + '\');'"-->
                    th:classappend="${cssWhenFieldIsAsc.apply('name')}"
                    th:title="${#qs.valueWhenMatchesSortAsc(qstring,
                                 'Sort hotel name A to Z',
                                 'Sort hotel name Z to A',
                                 'Sort hotel name A to Z').apply('name')}">
                    Hotel
                </th>

                <th th:with="newUrl=${urlBuilder.apply(fieldSorterDesc.apply('stars'))}"
<!--                    th:onclick="'javascript:onSortChange(\'' + ${newUrl} + '\');'"-->
                    th:classappend="${cssWhenFieldIsAsc.apply('stars')}"
                    th:title="${#qs.valueWhenMatchesSortDesc(qstring,
                                 'Sort by highest to lowest rating',
                                 'Sort by lowest to highest rating',
                                 'Sort by highest to lowest to rating').apply('stars')}">
                    Stars
                </th>

                <th th:with="newUrl=${urlBuilder.apply(fieldSorterAsc.apply('address.suburb'))}"
<!--                    th:onclick="'javascript:onSortChange(\'' + ${newUrl} + '\');'"-->
                    th:classappend="${cssWhenFieldIsAsc.apply('address.suburb')}"
                    th:title="${#qs.valueWhenMatchesSortAsc(qstring,
                                 'Sort suburb A to Z',
                                 'Sort suburb Z to A',
                                 'Sort suburb A to Z').apply('address.suburb')}">
                    Suburb
                </th>

                <th th:with="newUrl=${urlBuilder.apply(fieldSorterAsc.apply('address.state'))}"
<!--                    th:onclick="'javascript:onSortChange(\'' + ${newUrl} + '\');'"-->
                    th:classappend="${cssWhenFieldIsAsc.apply('address.state')}"
                    th:title="${#qs.valueWhenMatchesSortAsc(qstring,
                                 'Sort suburb A to Z',
                                 'Sort suburb Z to A',
                                 'Sort suburb A to Z').apply('address.state')}">
                    State
                </th>

                <th th:with="newUrl=${urlBuilder.apply(fieldSorterAsc.apply('address.postcode'))}"
<!--                    th:onclick="'javascript:onSortChange(\'' + ${newUrl} + '\');'"-->
                    th:classappend="${cssWhenFieldIsAsc.apply('address.postcode')}"
                    th:title="${#qs.valueWhenMatchesSortAsc(qstring,
                                 'Sort postcode lowest to highest',
                                 'Sort postcode highest to lowest',
                                 'Sort postcode lowest to highest').apply('address.postcode')}">
                    Postcode
                </th>

                <th>View rooms</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="hotel,stat : ${hotels.getContent()}">
                <td>
                    <a th:href="@{/hotel(id=${hotel.id})}" th:text="${hotel.name}"></a>
                </td>
                <td>
                    <div class="ui star rating disabled" th:each="star : ${#numbers.sequence(1, hotel.stars)}">
                        <i class="icon active"></i>
                    </div>
                </td>
                <td th:text="${hotel.address.suburb}"></td>
                <td th:text="${hotel.address.state}"></td>
                <td th:text="${hotel.address.postcode.value}"></td>
                <td>
                    <a th:href="@{/hotel/{id}/rooms(id=${hotel.id},sort='costPerNight,desc')}">Rooms</a>
                </td>
            </tr>
            </tbody>

            <tfoot th:with="lastPage=${hotels.getTotalPages() - 1},
                            pageNumber=${hotels.getPageable().getPageNumber()},
                            isOnLastPage=${pageNumber == lastPage}">

            <tr>
                <th colspan="6">
                    <span class="margin-right-10" th:text="|${pageNumber + 1} of ${hotels.getTotalPages()}|"></span>

                    <div class="ui pagination menu">
                        <a class="icon item"
                           th:if="${hotels.getPageable().hasPrevious()}"
                           th:with="newQueryString=${#qs.resetPageNumber(qstring)}"
                           th:href="${urlBuilder.apply(newQueryString)}"
                           th:title="|Go to first page - (page ${#qs.getPageNumber(newQueryString)})|">
                            <i class="angle double left icon"></i>
                        </a>
                        <a class="icon item"
                           th:if="${hotels.getPageable().hasPrevious()}"
                           th:with="newQueryString=${#qs.decrementPage(qstring)}"
                           th:href="${urlBuilder.apply(newQueryString)}"
                           th:title="|Previous page - (page ${#qs.getPageNumber(newQueryString)})|">
                            <i class="left chevron icon"></i>
                        </a>
                        <a class="icon item"
                           th:unless="${isOnLastPage}"
                           th:with="newQueryString=${#qs.incrementPage(qstring, lastPage)}"
                           th:href="${urlBuilder.apply(newQueryString)}"
                           th:title="|Next page - (page ${#qs.getPageNumber(newQueryString)})|">
                            <i class="right chevron icon"></i>
                        </a>
                        <a class="icon item"
                           th:unless="${isOnLastPage}"
                           th:with="newQueryString=${#qs.setPageNumber(qstring, lastPage)}"
                           th:href="${urlBuilder.apply(newQueryString)}"
                           th:title="|Go to last page - (page ${lastPage})|">
                            <i class="angle double right icon"></i>
                        </a>
                    </div>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<th:block layout:fragment="script">
    <script>
        function onSortChange(url) {
            window.location = url;
        }
    </script>
</th:block>

</body>
</html>