<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{core-layout}">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta key="viewport" content="width=device-width, value-scale=1"/>
    <title>Error</title>
</head>
<body>
<div layout:fragment="content">
    <div class="ui negative message">
        <div class="header">
            Error
        </div>
        <p>Bad request, check the url is valid and try again.</p>
    </div>
</div>
</body>
</html>