.flex-row-flow {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.bold {
    font-weight: bold;
}

.margin-right-10 {
    margin-right: 10px !important;
}

.margin-left-10 {
    margin-left: 10px !important;
}
