<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta key="viewport" content="width=device-width, value-scale=1"/>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE" th:text="#{app.key}"></title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/Semantic-UI/2.2.10/semantic.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.0.6/web-fonts-with-css/css/fontawesome-all.min.css}"/>
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
    <script th:src="@{/webjars/Semantic-UI/2.2.10/semantic.min.js}"></script>
    <script th:src="@{/js/core.js}"></script>
</head>
<body>

<div id="wrapper">
    <div class="ui inverted segment">
        <div class="ui inverted secondary pointing menu">
            <a class="item" th:classappend="${#request.getRequestURI().endsWith('/')} ? 'active'" href="/">
                Home
            </a>
            <div class="right menu">
                <a class="item" th:classappend="${#request.getRequestURI().endsWith('/register')} ? 'active'" href="/register">
                    Register
                </a>
                <a class="item" th:classappend="${#request.getRequestURI().endsWith('/admin')} ? 'active'" href="/admin">
                    Admin
                </a>
            </div>
        </div>
    </div>

    <div class="ui container" layout:fragment="content"></div>

    <div id="dimmer" class="ui dimmer">
        <div class="ui text large loader"></div>
    </div>

    <div class="ui modal">
        <div class="header">
            Error
        </div>
        <div class="content">
            <p>Sorry, there are currently errors with the server.</p>
        </div>
        <div class="actions">
            <div class="ui right icon button approve">
                Got it
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script"></th:block>
</body>
</html>